.border[b-hht3kegkyd] {
    list-style: none;
    padding: 0;
}

    .border li[b-hht3kegkyd] {
        font-family: "Trebuchet MS", "Lucida Sans";
        padding: 7px 20px;
        margin-bottom: 10px;
        border-radius: 5px;
        border-left: 10px solid #f05d22;
        box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1), -2px -2px 5px 0 rgba(0,0,0,.1), 2px 2px 5px 0 rgba(0,0,0,.1), -2px 2px 5px 0 rgba(0,0,0,.1);
        font-size: 20px;
        letter-spacing: 2px;
        transition: 0.3s all linear;
    }

        .border li:nth-child(2)[b-hht3kegkyd] {
            border-color: #8bc63e;
        }

        .border li:nth-child(3)[b-hht3kegkyd] {
            border-color: #fcba30;
        }

        .border li:nth-child(4)[b-hht3kegkyd] {
            border-color: #1ccfc9;
        }

        .border li:nth-child(5)[b-hht3kegkyd] {
            border-color: #493224;
        }

        .border li:hover[b-hht3kegkyd] {
            border-left: 10px solid transparent;
        }

        .border li:nth-child(1):hover[b-hht3kegkyd] {
            border-right: 10px solid #f05d22;
        }

        .border li:nth-child(2):hover[b-hht3kegkyd] {
            border-right: 10px solid #8bc63e;
        }

        .border li:nth-child(3):hover[b-hht3kegkyd] {
            border-right: 10px solid #fcba30;
        }

        .border li:nth-child(4):hover[b-hht3kegkyd] {
            border-right: 10px solid #1ccfc9;
        }

        .border li:nth-child(5):hover[b-hht3kegkyd] {
            border-right: 10px solid #493224;
        }
