@page "/"


<h1>Blazor</h1>

<AuthorizeView>
    <Authorized>
        Welcome UserName
    </Authorized>
    <NotAuthorized>
        <span>Если у Вас есть аккаунт, войдите в свой аккаунт. <a class="fw-bolder" href="/login">Нажмите тут</a></span>
    </NotAuthorized>
</AuthorizeView>



